{% extends "base.html" %}
{% load i18n %}
{% block title %}
  
{% endblock %}

{% block content %}
{% if cart %}

<h2 id='basket_title'>{% trans "В кошику" %}</h2>

  <div class='row col-xs-8 col-xs-offset-2'>
 <table class="table">

  <thead>
   <tr>
    <th>{% trans "Назва" %}</th>
    <th>{% trans "Кількість" %}</th>
    <th>{% trans "Ціна" %}</th>
    <th>{% trans "Повна ціна" %}</th>
   </tr>
  </thead>

  <tbody>
  {% for item in cart %}
        {% with flower=item.flower %}
  <tr>
   <td>{{ flower.title }}</td>
   <td>
      <form action="{% url "CartAdd_basket" flower.id %}" method="post" class="add">
        {{ item.update_quantity_form.quantity }}
        {{ item.update_quantity_form.update }}
        {% csrf_token %}
    <input type="submit" value="{% trans "Обновити" %}">
      </form>
   </td>
   <td>{{ item.price }} {% trans "грн" %}</td>
   <th>{{ item.total_price }}{% trans "грн" %}</th>
   <td>
   <a href="{% url "CartRemove" flower.id %}">{% trans "Видалити" %}
  </td>
   </tr>
  {% endwith %}
      {% endfor %}
      <td class="num">{% trans "Загальна сума" %} {{ cart.get_total_price }} {% trans "грн" %}.</td>
  </tbody>
 </table>
 </div>
 </div>


 
<div id='basket_button' class='row col-xs-8 col-xs-offset-2'>
 <a href='{% url 'main' %}' class="btn btn-primary">{% trans "повернутись" %}</a>
 <a href="{% url "OrderCreate" %}" class="btn btn-primary">{% trans "замовити" %}</a>
</div>


{% else %}
 <div>
 <h2 class="col-xs-6 col-xs-offset-3">{% trans "Ви ще не вибрали жодного товару" %}!</h2>
 </div>

 {% endif %}
{% endblock content %}