{% extends 'base.html' %}
{% load i18n %}
{% load static from staticfiles %}

<title>{% block title %}{% trans "Купівля насіння та саджанців квітів" %}{% endblock title %}</title>


{% block content %}
    

 <div class='row col-xs-8 col-xs-offset-2'>
 <table class="table table-hover table-striped">
  <tbody>
  <tr>
  <td>{% trans "імя" %}</td>
  <td>{{ order.name }}</td>
  </tr>
  <tr>
  <td>{% trans "телефон" %}</td>
  <td>{{ order.number }}</td>
  </tr>
  <tr>
  <td>{% trans "Додаткові нотатки" %}</td>
  <td>{{ order.notes }}</td>
  </tr>
  </tbody>

  </table>
<table class="table table-hover table-striped">
<thead>
  <tr>
    <th>
      Назва
    </th>
    <th>
      Кількість
    </th>
   </tr>
  </thead>
<tbody>
  {% for item in products %}
  <tr>
  <td>
    {{item.product.title}}
  </td>
  <td>
    {{item.quantity}}
  </td>
  </tr>
  {% endfor %}
  </tbody>
  </table>
  Загальна сума замовлення{{ order.total_cost }}
  </div>
 </div>





{% endblock content %}
    




  	
  	