{% extends 'base.html' %}
{% load i18n %}
{% load static from staticfiles %}



<title>{% block title %}{% trans "Купівля насіння та саджанців квітів" %}{% endblock title %}</title>

    {% block content %}
    

      
<div class='row col-xs-10 col-xs-offset-1'>
 <table class="table">

 <tr>
 <th>
  #
 </th>
 <th>
  {% trans "імя" %}
 </th>
 <th>
  {% trans "телефон" %}
 </th>
 <th>
  {% trans "сума" %}
 </th>
 <th>
  {% trans "додаткові нотатки" %}
 </th>
 </tr>
 </thead>

<tbody>

{% for order in orders %}
 <tr>

  <td><a href='{% url 'one_order' order.id %}'>{{ forloop.counter }}</a></td>
  <td><a href='{% url 'one_order' order.id %}'>{{ order.name }}</a></td>
  <td><a href='{% url 'one_order' order.id %}'>{{ order.number }}</a></td>
  <td><a href='{% url 'one_order' order.id %}'>{{ order.total_cost }}</a></td>
  <td><a href='{% url 'one_order' order.id %}'>{{ order.notes }}</a></td>


 </tr>
{% endfor %}

</tbody>
</table>
</div>



    {% endblock content %}


    




    